@tailwind base;
@tailwind components;
@layer components {
  .panel {
    @apply flex flex-col flex-grow bg-white rounded-xl shadow-md;
  }

  .panel-header {
    @apply text-2xl font-bold;
  }
  .btn-primary {
    @apply font-bold text-white py-2 px-4 rounded-2xl transition duration-200 ease-in-out;
  }
  .btn-primary:hover {
    @apply bg-opacity-70 text-white;
  }
}
@tailwind utilities;

/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  @apply text-2xl font-bold mb-4;
}
/* Scrollbar Styles */
/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */
}
