@tailwind base;
@tailwind components;
@layer components {
  .panel {
    @apply flex flex-col flex-grow bg-white rounded-xl shadow-md;
  }

  .panel-header {
    @apply text-2xl font-bold;
  }
  .btn-primary {
    @apply font-bold bg-purple-600 text-white py-2 px-4 rounded-2xl hover:bg-purple-700 transition duration-200 ease-in-out;
  }
}
@tailwind utilities;

/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
