@tailwind base;
@tailwind components;
@layer components {
  .panel {
    @apply flex flex-col flex-grow bg-white rounded-xl shadow-md;
  }

  .panel-header {
    @apply text-2xl font-bold;
  }
}
@tailwind utilities;

/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
